In [141]:
import numpy as np
import pandas as pd 
import csv

In [23]:
stations_df = pd.read_csv("stations.csv") 
stations_start_df = stations_df.rename(columns={"station_id": "start station id", "name": "start station name", "lat": "start station latitude", "lon": "start station longitude"})
stations_start_df.head()

,start station id,start station name,start station latitude,start station longitude
0,72,W 52 St & 11 Ave,40.767,-73.994
1,79,Franklin St & W Broadway,40.719,-74.007
2,82,St James Pl & Pearl St,40.711,-74.000
3,83,Atlantic Ave & Fort Greene Pl,40.684,-73.976
4,119,Park Ave & St Edwards St,40.696,-73.978

In [24]:
stations_end_df = stations_df.rename(columns={"station_id": "end station id", "name": "end station name","lat": "end station latitude", "lon": "end station longitude"})
stations_end_df.head()

,end station id,end station name,end station latitude,end station longitude
0,72,W 52 St & 11 Ave,40.767,-73.994
1,79,Franklin St & W Broadway,40.719,-74.007
2,82,St James Pl & Pearl St,40.711,-74.000
3,83,Atlantic Ave & Fort Greene Pl,40.684,-73.976
4,119,Park Ave & St Edwards St,40.696,-73.978

# LOOP THROUGH FILES

In [131]:
data_df = pd.read_csv("201903-citibike-tripdata.csv") 
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1463,2019-03-01 00:00:16.0970,2019-03-01 00:24:39.3880,319.0,Fulton St & Broadway,40.711066,-74.009447,347.0,Greenwich St & W Houston St,40.728846,-74.008591,35618,Subscriber,1989,1
1,285,2019-03-01 00:00:32.3850,2019-03-01 00:05:18.1830,439.0,E 4 St & 2 Ave,40.726281,-73.989780,150.0,E 2 St & Avenue C,40.720874,-73.980858,31113,Subscriber,1980,1
2,686,2019-03-01 00:00:47.7970,2019-03-01 00:12:14.3090,526.0,E 33 St & 5 Ave,40.747659,-73.984907,3474.0,6 Ave & Spring St,40.725256,-74.004121,19617,Subscriber,1987,1
3,442,2019-03-01 00:01:01.2090,2019-03-01 00:08:23.7510,3474.0,6 Ave & Spring St,40.725256,-74.004121,355.0,Bayard St & Baxter St,40.716021,-73.999744,27086,Subscriber,1987,2
4,2913,2019-03-01 00:01:09.2810,2019-03-01 00:49:42.3810,379.0,W 31 St & 7 Ave,40.749156,-73.991600,212.0,W 16 St & The High Line,40.743349,-74.006818,34791,Subscriber,1991,1

In [ ]:
data_df.count()

# SCRUB DATA IF COUNTS DON'T MATCH - only invalid long/lat found

In [ ]:
scrub_df = data_df[data_df.isnull().any(axis=1)]

In [ ]:
scrub_df.head()

In [ ]:
data_df.dropna(inplace = True)
data_df.count()

# INITIALIZE COMBINED DATASET WITH FIRST DATASET

In [ ]:
combined_df=data_df

# APPEND SCRUBBED DATA TO COMBINED DATASET

In [132]:
combined_df=combined_df.append(data_df)

In [134]:
combined_df.count()

tripduration               18246016
starttime                  18246016
stoptime                   18246016
start station id           18246016
start station name         18246016
start station latitude     18246016
start station longitude    18246016
end station id             18246016
end station name           18246016
end station latitude       18246016
end station longitude      18246016
bikeid                     18246016
usertype                   18246016
birth year                 18246016
gender                     18246016
dtype: int64

# DROP NA IN COMBINED IF MISSED EARLIER

In [133]:
combined_df.dropna(inplace = True)

In [137]:
# Drop record if birth year < 1920 or > 2014

age1_df = combined_df[combined_df['birth year'] >= 1920]
age1_df['birth year'].min()

1920

In [140]:
age2_df = final_df[age1_df['birth year'] <= 2014]   
age2_df['birth year'].max()

2003

In [145]:
# write final data to CSV file

age2_df.to_csv('alltripdata.csv', index=False)

In [144]:
age2_df.count()

tripduration               18234536
starttime                  18234536
stoptime                   18234536
start station id           18234536
start station name         18234536
start station latitude     18234536
start station longitude    18234536
end station id             18234536
end station name           18234536
end station latitude       18234536
end station longitude      18234536
bikeid                     18234536
usertype                   18234536
birth year                 18234536
gender                     18234536
dtype: int64